* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.navbar {
    background-color: #1b1b1b;
    width: 100%;
    padding: 10px 0;
}

.navbar .menu {
    max-width: 1250px;
    /* background-color: pink; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-buttons {
    display: flex;
    list-style-type: none;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.nav-buttons li a {
    text-decoration: none;
    background-color: #fff;
    color: #1b1b1b;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 10px;
    margin: 0px 10px;
}

.section-1 {
    display: flex;
    background-color: #1F2937;
}

.section-1 > :first-child {
    margin: 100px 50px 100px 200px;
}

.section-1 > :nth-child(2) {
    margin: 100px 200px 100px 50px;
}

.section-2 {
    display: flex;
    flex-direction: column;
}

#main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#secondary-text {
    font-size: 18px;
    font-weight: light;
    color: #E5E7EB;
}

#second-title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 2000;
    color: #1F2937;
}

#signup-button {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    padding: 9px 40px 9px 40px; 
    border: 0px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
}

#section-2-img-container {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: light;
    color: #1F2937;
}

#section-2-img-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 25px 50px 25px;
    max-width: 180px;
}

.img-box {
    display: flex;
    justify-content: center;
    height: 175px;
    width: 100%;
    border: 5px #3882F6 solid;
    border-radius: 20px;
    /* margin: 0px 50% 0px 50%; */
}

.img-subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
}