* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1b1b1b;
    width: 100%;
    padding: 10px 0;
}

.navbar .menu {
    max-width: 1250px;
    /* background-color: pink; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-buttons {
    display: flex;
    list-style-type: none;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.nav-buttons li a {
    text-decoration: none;
    background-color: #fff;
    color: #1b1b1b;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 10px;
    margin: 0px 10px;
}